Laboratorio 10/SoftIEPixelPenguins/Frontend/SoftPixelPenguins/SoftPixelPenguinsWA/Connected Services/SoftPixelPenguinsWS/AlumnoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pixelpenguins.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="AlumnoWS" targetNamespace="http://services.pixelpenguins.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftPixelPenguinsWS/AlumnoWS?xsd=1" namespace="http://services.pixelpenguins.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="modificarAlumno">
    <part name="parameters" element="tns:modificarAlumno" />
  </message>
  <message name="modificarAlumnoResponse">
    <part name="parameters" element="tns:modificarAlumnoResponse" />
  </message>
  <message name="insertarAlumno">
    <part name="parameters" element="tns:insertarAlumno" />
  </message>
  <message name="insertarAlumnoResponse">
    <part name="parameters" element="tns:insertarAlumnoResponse" />
  </message>
  <message name="listarTodosAlumnos">
    <part name="parameters" element="tns:listarTodosAlumnos" />
  </message>
  <message name="listarTodosAlumnosResponse">
    <part name="parameters" element="tns:listarTodosAlumnosResponse" />
  </message>
  <message name="eliminarAlumno">
    <part name="parameters" element="tns:eliminarAlumno" />
  </message>
  <message name="eliminarAlumnoResponse">
    <part name="parameters" element="tns:eliminarAlumnoResponse" />
  </message>
  <message name="obtenerAlumnoPorId">
    <part name="parameters" element="tns:obtenerAlumnoPorId" />
  </message>
  <message name="obtenerAlumnoPorIdResponse">
    <part name="parameters" element="tns:obtenerAlumnoPorIdResponse" />
  </message>
  <message name="existeAlumno">
    <part name="parameters" element="tns:existeAlumno" />
  </message>
  <message name="existeAlumnoResponse">
    <part name="parameters" element="tns:existeAlumnoResponse" />
  </message>
  <message name="listarAlumnosPorEstado">
    <part name="parameters" element="tns:listarAlumnosPorEstado" />
  </message>
  <message name="listarAlumnosPorEstadoResponse">
    <part name="parameters" element="tns:listarAlumnosPorEstadoResponse" />
  </message>
  <portType name="AlumnoWS">
    <operation name="modificarAlumno">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/AlumnoWS/modificarAlumnoRequest" message="tns:modificarAlumno" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/AlumnoWS/modificarAlumnoResponse" message="tns:modificarAlumnoResponse" />
    </operation>
    <operation name="insertarAlumno">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/AlumnoWS/insertarAlumnoRequest" message="tns:insertarAlumno" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/AlumnoWS/insertarAlumnoResponse" message="tns:insertarAlumnoResponse" />
    </operation>
    <operation name="listarTodosAlumnos">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/AlumnoWS/listarTodosAlumnosRequest" message="tns:listarTodosAlumnos" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/AlumnoWS/listarTodosAlumnosResponse" message="tns:listarTodosAlumnosResponse" />
    </operation>
    <operation name="eliminarAlumno">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/AlumnoWS/eliminarAlumnoRequest" message="tns:eliminarAlumno" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/AlumnoWS/eliminarAlumnoResponse" message="tns:eliminarAlumnoResponse" />
    </operation>
    <operation name="obtenerAlumnoPorId">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/AlumnoWS/obtenerAlumnoPorIdRequest" message="tns:obtenerAlumnoPorId" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/AlumnoWS/obtenerAlumnoPorIdResponse" message="tns:obtenerAlumnoPorIdResponse" />
    </operation>
    <operation name="existeAlumno">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/AlumnoWS/existeAlumnoRequest" message="tns:existeAlumno" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/AlumnoWS/existeAlumnoResponse" message="tns:existeAlumnoResponse" />
    </operation>
    <operation name="listarAlumnosPorEstado">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/AlumnoWS/listarAlumnosPorEstadoRequest" message="tns:listarAlumnosPorEstado" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/AlumnoWS/listarAlumnosPorEstadoResponse" message="tns:listarAlumnosPorEstadoResponse" />
    </operation>
  </portType>
  <binding name="AlumnoWSPortBinding" type="tns:AlumnoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="modificarAlumno">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarAlumno">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosAlumnos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarAlumno">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerAlumnoPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="existeAlumno">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarAlumnosPorEstado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AlumnoWS">
    <port name="AlumnoWSPort" binding="tns:AlumnoWSPortBinding">
      <soap:address location="http://localhost:8080/SoftPixelPenguinsWS/AlumnoWS" />
    </port>
  </service>
</definitions>