Laboratorio 10/SoftIEPixelPenguins/Frontend/SoftPixelPenguins/SoftPixelPenguinsWA/Connected Services/SoftPixelPenguinsWS/GradoAcademicoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.pixelpenguins.pucp.edu.pe" targetNamespace="http://services.pixelpenguins.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarGradoAcademico" type="tns:eliminarGradoAcademico" />
  <xs:element name="eliminarGradoAcademicoResponse" type="tns:eliminarGradoAcademicoResponse" />
  <xs:element name="insertarGradoAcademico" type="tns:insertarGradoAcademico" />
  <xs:element name="insertarGradoAcademicoResponse" type="tns:insertarGradoAcademicoResponse" />
  <xs:element name="listarTodosGradosAcademicos" type="tns:listarTodosGradosAcademicos" />
  <xs:element name="listarTodosGradosAcademicosResponse" type="tns:listarTodosGradosAcademicosResponse" />
  <xs:element name="modificarGradoAcademico" type="tns:modificarGradoAcademico" />
  <xs:element name="modificarGradoAcademicoResponse" type="tns:modificarGradoAcademicoResponse" />
  <xs:element name="obtenerGradoAcademicoPorId" type="tns:obtenerGradoAcademicoPorId" />
  <xs:element name="obtenerGradoAcademicoPorIdResponse" type="tns:obtenerGradoAcademicoPorIdResponse" />
  <xs:complexType name="listarTodosGradosAcademicos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosGradosAcademicosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:gradoAcademico" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="gradoAcademico">
    <xs:sequence>
      <xs:element name="cantidadAlumnos" type="xs:int" />
      <xs:element name="fid_AnioAcademico" type="xs:int" />
      <xs:element name="idGradoAcademico" type="xs:int" />
      <xs:element minOccurs="0" name="nivel" type="tns:nivelEducativo" />
      <xs:element name="numeroGrado" type="xs:int" />
      <xs:element name="vacantes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarGradoAcademico">
    <xs:sequence>
      <xs:element minOccurs="0" name="gradoAcademico" type="tns:gradoAcademico" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarGradoAcademicoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarGradoAcademico">
    <xs:sequence>
      <xs:element minOccurs="0" name="gradoAcademico" type="tns:gradoAcademico" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarGradoAcademicoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerGradoAcademicoPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idGradoAcademico" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerGradoAcademicoPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:gradoAcademico" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarGradoAcademico">
    <xs:sequence>
      <xs:element minOccurs="0" name="gradoAcademico" type="tns:gradoAcademico" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarGradoAcademicoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="nivelEducativo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PRIMARIA" />
      <xs:enumeration value="SECUNDARIA" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>