Laboratorio 10/SoftIEPixelPenguins/Frontend/SoftPixelPenguins/SoftPixelPenguinsWA/Connected Services/SoftPixelPenguinsWS/HoraAcademicaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pixelpenguins.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="HoraAcademicaWS" targetNamespace="http://services.pixelpenguins.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftPixelPenguinsWS/HoraAcademicaWS?xsd=1" namespace="http://services.pixelpenguins.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="modificarHoraAcademica">
    <part name="parameters" element="tns:modificarHoraAcademica" />
  </message>
  <message name="modificarHoraAcademicaResponse">
    <part name="parameters" element="tns:modificarHoraAcademicaResponse" />
  </message>
  <message name="obtenerHoraAcademicaPorId">
    <part name="parameters" element="tns:obtenerHoraAcademicaPorId" />
  </message>
  <message name="obtenerHoraAcademicaPorIdResponse">
    <part name="parameters" element="tns:obtenerHoraAcademicaPorIdResponse" />
  </message>
  <message name="insertarHoraAcademica">
    <part name="parameters" element="tns:insertarHoraAcademica" />
  </message>
  <message name="insertarHoraAcademicaResponse">
    <part name="parameters" element="tns:insertarHoraAcademicaResponse" />
  </message>
  <message name="listarTodosHorasAcademicas">
    <part name="parameters" element="tns:listarTodosHorasAcademicas" />
  </message>
  <message name="listarTodosHorasAcademicasResponse">
    <part name="parameters" element="tns:listarTodosHorasAcademicasResponse" />
  </message>
  <message name="eliminarHoraAcademica">
    <part name="parameters" element="tns:eliminarHoraAcademica" />
  </message>
  <message name="eliminarHoraAcademicaResponse">
    <part name="parameters" element="tns:eliminarHoraAcademicaResponse" />
  </message>
  <portType name="HoraAcademicaWS">
    <operation name="modificarHoraAcademica">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/HoraAcademicaWS/modificarHoraAcademicaRequest" message="tns:modificarHoraAcademica" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/HoraAcademicaWS/modificarHoraAcademicaResponse" message="tns:modificarHoraAcademicaResponse" />
    </operation>
    <operation name="obtenerHoraAcademicaPorId">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/HoraAcademicaWS/obtenerHoraAcademicaPorIdRequest" message="tns:obtenerHoraAcademicaPorId" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/HoraAcademicaWS/obtenerHoraAcademicaPorIdResponse" message="tns:obtenerHoraAcademicaPorIdResponse" />
    </operation>
    <operation name="insertarHoraAcademica">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/HoraAcademicaWS/insertarHoraAcademicaRequest" message="tns:insertarHoraAcademica" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/HoraAcademicaWS/insertarHoraAcademicaResponse" message="tns:insertarHoraAcademicaResponse" />
    </operation>
    <operation name="listarTodosHorasAcademicas">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/HoraAcademicaWS/listarTodosHorasAcademicasRequest" message="tns:listarTodosHorasAcademicas" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/HoraAcademicaWS/listarTodosHorasAcademicasResponse" message="tns:listarTodosHorasAcademicasResponse" />
    </operation>
    <operation name="eliminarHoraAcademica">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/HoraAcademicaWS/eliminarHoraAcademicaRequest" message="tns:eliminarHoraAcademica" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/HoraAcademicaWS/eliminarHoraAcademicaResponse" message="tns:eliminarHoraAcademicaResponse" />
    </operation>
  </portType>
  <binding name="HoraAcademicaWSPortBinding" type="tns:HoraAcademicaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="modificarHoraAcademica">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerHoraAcademicaPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarHoraAcademica">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosHorasAcademicas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarHoraAcademica">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="HoraAcademicaWS">
    <port name="HoraAcademicaWSPort" binding="tns:HoraAcademicaWSPortBinding">
      <soap:address location="http://localhost:8080/SoftPixelPenguinsWS/HoraAcademicaWS" />
    </port>
  </service>
</definitions>