Laboratorio 10/SoftIEPixelPenguins/Frontend/SoftPixelPenguins/SoftPixelPenguinsWA/Connected Services/SoftPixelPenguinsWS/PersonalAdministrativoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.pixelpenguins.pucp.edu.pe" targetNamespace="http://services.pixelpenguins.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarPersonalAdministrativo" type="tns:eliminarPersonalAdministrativo" />
  <xs:element name="eliminarPersonalAdministrativoResponse" type="tns:eliminarPersonalAdministrativoResponse" />
  <xs:element name="existePersonalAdministrativo" type="tns:existePersonalAdministrativo" />
  <xs:element name="existePersonalAdministrativoResponse" type="tns:existePersonalAdministrativoResponse" />
  <xs:element name="insertarPersonalAdministrativo" type="tns:insertarPersonalAdministrativo" />
  <xs:element name="insertarPersonalAdministrativoResponse" type="tns:insertarPersonalAdministrativoResponse" />
  <xs:element name="listarTodosPersonalAdministrativo" type="tns:listarTodosPersonalAdministrativo" />
  <xs:element name="listarTodosPersonalAdministrativoResponse" type="tns:listarTodosPersonalAdministrativoResponse" />
  <xs:element name="modificarPersonalAdministrativo" type="tns:modificarPersonalAdministrativo" />
  <xs:element name="modificarPersonalAdministrativoResponse" type="tns:modificarPersonalAdministrativoResponse" />
  <xs:element name="obtenerPersonalAdministrativoPorId" type="tns:obtenerPersonalAdministrativoPorId" />
  <xs:element name="obtenerPersonalAdministrativoPorIdResponse" type="tns:obtenerPersonalAdministrativoPorIdResponse" />
  <xs:complexType name="eliminarPersonalAdministrativo">
    <xs:sequence>
      <xs:element minOccurs="0" name="personalAdministrativo" type="tns:personalAdministrativo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personalAdministrativo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element name="codigoPersonalAdministrativo" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombreCompleto" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="tns:rol" />
      <xs:element minOccurs="0" name="sexo" type="xs:string" />
      <xs:element minOccurs="0" name="username" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rol">
    <xs:sequence>
      <xs:element name="idRol" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPersonalAdministrativoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="existePersonalAdministrativo">
    <xs:sequence>
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="existePersonalAdministrativoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPersonalAdministrativo">
    <xs:sequence>
      <xs:element minOccurs="0" name="personalAdministrativo" type="tns:personalAdministrativo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPersonalAdministrativoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosPersonalAdministrativo">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosPersonalAdministrativoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:personalAdministrativo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPersonalAdministrativoPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPersonalAdministrativoPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:personalAdministrativo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPersonalAdministrativo">
    <xs:sequence>
      <xs:element minOccurs="0" name="personalAdministrativo" type="tns:personalAdministrativo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPersonalAdministrativoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>