SoftPixelPenguins/SoftIEPixelPenguins/Frontend/SoftPixelPenguinsWA/SoftPixelPenguinsWA/Connected Services/ServicioWeb/AnioAcademicoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pixelpenguins.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="AnioAcademicoWS" targetNamespace="http://services.pixelpenguins.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftPixelPenguinsWSBL/AnioAcademicoWS?xsd=1" namespace="http://services.pixelpenguins.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="listarTodosAniosAcademicos">
    <part name="parameters" element="tns:listarTodosAniosAcademicos" />
  </message>
  <message name="listarTodosAniosAcademicosResponse">
    <part name="parameters" element="tns:listarTodosAniosAcademicosResponse" />
  </message>
  <message name="eliminarAnioAcademico">
    <part name="parameters" element="tns:eliminarAnioAcademico" />
  </message>
  <message name="eliminarAnioAcademicoResponse">
    <part name="parameters" element="tns:eliminarAnioAcademicoResponse" />
  </message>
  <message name="insertarAnioAcademico">
    <part name="parameters" element="tns:insertarAnioAcademico" />
  </message>
  <message name="insertarAnioAcademicoResponse">
    <part name="parameters" element="tns:insertarAnioAcademicoResponse" />
  </message>
  <message name="obtenerAnioAcademicoPorId">
    <part name="parameters" element="tns:obtenerAnioAcademicoPorId" />
  </message>
  <message name="obtenerAnioAcademicoPorIdResponse">
    <part name="parameters" element="tns:obtenerAnioAcademicoPorIdResponse" />
  </message>
  <message name="modificarAnioAcademico">
    <part name="parameters" element="tns:modificarAnioAcademico" />
  </message>
  <message name="modificarAnioAcademicoResponse">
    <part name="parameters" element="tns:modificarAnioAcademicoResponse" />
  </message>
  <portType name="AnioAcademicoWS">
    <operation name="listarTodosAniosAcademicos">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/AnioAcademicoWS/listarTodosAniosAcademicosRequest" message="tns:listarTodosAniosAcademicos" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/AnioAcademicoWS/listarTodosAniosAcademicosResponse" message="tns:listarTodosAniosAcademicosResponse" />
    </operation>
    <operation name="eliminarAnioAcademico">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/AnioAcademicoWS/eliminarAnioAcademicoRequest" message="tns:eliminarAnioAcademico" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/AnioAcademicoWS/eliminarAnioAcademicoResponse" message="tns:eliminarAnioAcademicoResponse" />
    </operation>
    <operation name="insertarAnioAcademico">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/AnioAcademicoWS/insertarAnioAcademicoRequest" message="tns:insertarAnioAcademico" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/AnioAcademicoWS/insertarAnioAcademicoResponse" message="tns:insertarAnioAcademicoResponse" />
    </operation>
    <operation name="obtenerAnioAcademicoPorId">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/AnioAcademicoWS/obtenerAnioAcademicoPorIdRequest" message="tns:obtenerAnioAcademicoPorId" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/AnioAcademicoWS/obtenerAnioAcademicoPorIdResponse" message="tns:obtenerAnioAcademicoPorIdResponse" />
    </operation>
    <operation name="modificarAnioAcademico">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/AnioAcademicoWS/modificarAnioAcademicoRequest" message="tns:modificarAnioAcademico" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/AnioAcademicoWS/modificarAnioAcademicoResponse" message="tns:modificarAnioAcademicoResponse" />
    </operation>
  </portType>
  <binding name="AnioAcademicoWSPortBinding" type="tns:AnioAcademicoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarTodosAniosAcademicos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarAnioAcademico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarAnioAcademico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerAnioAcademicoPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarAnioAcademico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AnioAcademicoWS">
    <port name="AnioAcademicoWSPort" binding="tns:AnioAcademicoWSPortBinding">
      <soap:address location="http://localhost:8080/SoftPixelPenguinsWSBL/AnioAcademicoWS" />
    </port>
  </service>
</definitions>