Laboratorio 12/SoftIEPixelPenguins/Frontend/SoftPixelPenguinsWA/SoftPixelPenguinsWA/Connected Services/ServicioWeb/CursoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pixelpenguins.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CursoWS" targetNamespace="http://services.pixelpenguins.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftPixelPenguinsWSBL/CursoWS?xsd=1" namespace="http://services.pixelpenguins.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="eliminarCurso">
    <part name="parameters" element="tns:eliminarCurso" />
  </message>
  <message name="eliminarCursoResponse">
    <part name="parameters" element="tns:eliminarCursoResponse" />
  </message>
  <message name="listarTodosCursos">
    <part name="parameters" element="tns:listarTodosCursos" />
  </message>
  <message name="listarTodosCursosResponse">
    <part name="parameters" element="tns:listarTodosCursosResponse" />
  </message>
  <message name="modificarCurso">
    <part name="parameters" element="tns:modificarCurso" />
  </message>
  <message name="modificarCursoResponse">
    <part name="parameters" element="tns:modificarCursoResponse" />
  </message>
  <message name="obtenerCursoPorId">
    <part name="parameters" element="tns:obtenerCursoPorId" />
  </message>
  <message name="obtenerCursoPorIdResponse">
    <part name="parameters" element="tns:obtenerCursoPorIdResponse" />
  </message>
  <message name="insertarCurso">
    <part name="parameters" element="tns:insertarCurso" />
  </message>
  <message name="insertarCursoResponse">
    <part name="parameters" element="tns:insertarCursoResponse" />
  </message>
  <message name="listarCursosPorGrado">
    <part name="parameters" element="tns:listarCursosPorGrado" />
  </message>
  <message name="listarCursosPorGradoResponse">
    <part name="parameters" element="tns:listarCursosPorGradoResponse" />
  </message>
  <message name="listarCursosPorProfesor">
    <part name="parameters" element="tns:listarCursosPorProfesor" />
  </message>
  <message name="listarCursosPorProfesorResponse">
    <part name="parameters" element="tns:listarCursosPorProfesorResponse" />
  </message>
  <portType name="CursoWS">
    <operation name="eliminarCurso">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/CursoWS/eliminarCursoRequest" message="tns:eliminarCurso" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/CursoWS/eliminarCursoResponse" message="tns:eliminarCursoResponse" />
    </operation>
    <operation name="listarTodosCursos">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/CursoWS/listarTodosCursosRequest" message="tns:listarTodosCursos" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/CursoWS/listarTodosCursosResponse" message="tns:listarTodosCursosResponse" />
    </operation>
    <operation name="modificarCurso">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/CursoWS/modificarCursoRequest" message="tns:modificarCurso" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/CursoWS/modificarCursoResponse" message="tns:modificarCursoResponse" />
    </operation>
    <operation name="obtenerCursoPorId">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/CursoWS/obtenerCursoPorIdRequest" message="tns:obtenerCursoPorId" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/CursoWS/obtenerCursoPorIdResponse" message="tns:obtenerCursoPorIdResponse" />
    </operation>
    <operation name="insertarCurso">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/CursoWS/insertarCursoRequest" message="tns:insertarCurso" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/CursoWS/insertarCursoResponse" message="tns:insertarCursoResponse" />
    </operation>
    <operation name="listarCursosPorGrado">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/CursoWS/listarCursosPorGradoRequest" message="tns:listarCursosPorGrado" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/CursoWS/listarCursosPorGradoResponse" message="tns:listarCursosPorGradoResponse" />
    </operation>
    <operation name="listarCursosPorProfesor">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/CursoWS/listarCursosPorProfesorRequest" message="tns:listarCursosPorProfesor" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/CursoWS/listarCursosPorProfesorResponse" message="tns:listarCursosPorProfesorResponse" />
    </operation>
  </portType>
  <binding name="CursoWSPortBinding" type="tns:CursoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarCurso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosCursos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCurso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerCursoPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCurso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCursosPorGrado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCursosPorProfesor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CursoWS">
    <port name="CursoWSPort" binding="tns:CursoWSPortBinding">
      <soap:address location="http://localhost:8080/SoftPixelPenguinsWSBL/CursoWS" />
    </port>
  </service>
</definitions>