Laboratorio 12/SoftIEPixelPenguins/Frontend/SoftPixelPenguinsWA/SoftPixelPenguinsWA/Connected Services/ServicioWeb/GradoAcademicoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pixelpenguins.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="GradoAcademicoWS" targetNamespace="http://services.pixelpenguins.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftPixelPenguinsWSBL/GradoAcademicoWS?xsd=1" namespace="http://services.pixelpenguins.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="eliminarGradoAcademico">
    <part name="parameters" element="tns:eliminarGradoAcademico" />
  </message>
  <message name="eliminarGradoAcademicoResponse">
    <part name="parameters" element="tns:eliminarGradoAcademicoResponse" />
  </message>
  <message name="obtenerGradoAcademicoPorId">
    <part name="parameters" element="tns:obtenerGradoAcademicoPorId" />
  </message>
  <message name="obtenerGradoAcademicoPorIdResponse">
    <part name="parameters" element="tns:obtenerGradoAcademicoPorIdResponse" />
  </message>
  <message name="modificarGradoAcademico">
    <part name="parameters" element="tns:modificarGradoAcademico" />
  </message>
  <message name="modificarGradoAcademicoResponse">
    <part name="parameters" element="tns:modificarGradoAcademicoResponse" />
  </message>
  <message name="insertarGradoAcademico">
    <part name="parameters" element="tns:insertarGradoAcademico" />
  </message>
  <message name="insertarGradoAcademicoResponse">
    <part name="parameters" element="tns:insertarGradoAcademicoResponse" />
  </message>
  <message name="listarTodosGradosAcademicos">
    <part name="parameters" element="tns:listarTodosGradosAcademicos" />
  </message>
  <message name="listarTodosGradosAcademicosResponse">
    <part name="parameters" element="tns:listarTodosGradosAcademicosResponse" />
  </message>
  <portType name="GradoAcademicoWS">
    <operation name="eliminarGradoAcademico">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/GradoAcademicoWS/eliminarGradoAcademicoRequest" message="tns:eliminarGradoAcademico" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/GradoAcademicoWS/eliminarGradoAcademicoResponse" message="tns:eliminarGradoAcademicoResponse" />
    </operation>
    <operation name="obtenerGradoAcademicoPorId">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/GradoAcademicoWS/obtenerGradoAcademicoPorIdRequest" message="tns:obtenerGradoAcademicoPorId" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/GradoAcademicoWS/obtenerGradoAcademicoPorIdResponse" message="tns:obtenerGradoAcademicoPorIdResponse" />
    </operation>
    <operation name="modificarGradoAcademico">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/GradoAcademicoWS/modificarGradoAcademicoRequest" message="tns:modificarGradoAcademico" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/GradoAcademicoWS/modificarGradoAcademicoResponse" message="tns:modificarGradoAcademicoResponse" />
    </operation>
    <operation name="insertarGradoAcademico">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/GradoAcademicoWS/insertarGradoAcademicoRequest" message="tns:insertarGradoAcademico" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/GradoAcademicoWS/insertarGradoAcademicoResponse" message="tns:insertarGradoAcademicoResponse" />
    </operation>
    <operation name="listarTodosGradosAcademicos">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/GradoAcademicoWS/listarTodosGradosAcademicosRequest" message="tns:listarTodosGradosAcademicos" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/GradoAcademicoWS/listarTodosGradosAcademicosResponse" message="tns:listarTodosGradosAcademicosResponse" />
    </operation>
  </portType>
  <binding name="GradoAcademicoWSPortBinding" type="tns:GradoAcademicoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarGradoAcademico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerGradoAcademicoPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarGradoAcademico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarGradoAcademico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosGradosAcademicos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="GradoAcademicoWS">
    <port name="GradoAcademicoWSPort" binding="tns:GradoAcademicoWSPortBinding">
      <soap:address location="http://localhost:8080/SoftPixelPenguinsWSBL/GradoAcademicoWS" />
    </port>
  </service>
</definitions>