Laboratorio 12/SoftIEPixelPenguins/Frontend/SoftPixelPenguinsWA/SoftPixelPenguinsWA/Connected Services/ServicioWeb/HoraAcademicaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.pixelpenguins.pucp.edu.pe" targetNamespace="http://services.pixelpenguins.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarHoraAcademica" type="tns:eliminarHoraAcademica" />
  <xs:element name="eliminarHoraAcademicaResponse" type="tns:eliminarHoraAcademicaResponse" />
  <xs:element name="insertarHoraAcademica" type="tns:insertarHoraAcademica" />
  <xs:element name="insertarHoraAcademicaResponse" type="tns:insertarHoraAcademicaResponse" />
  <xs:element name="listarTodosHorasAcademicas" type="tns:listarTodosHorasAcademicas" />
  <xs:element name="listarTodosHorasAcademicasResponse" type="tns:listarTodosHorasAcademicasResponse" />
  <xs:element name="modificarHoraAcademica" type="tns:modificarHoraAcademica" />
  <xs:element name="modificarHoraAcademicaResponse" type="tns:modificarHoraAcademicaResponse" />
  <xs:element name="obtenerHoraAcademicaPorId" type="tns:obtenerHoraAcademicaPorId" />
  <xs:element name="obtenerHoraAcademicaPorIdResponse" type="tns:obtenerHoraAcademicaPorIdResponse" />
  <xs:complexType name="modificarHoraAcademica">
    <xs:sequence>
      <xs:element minOccurs="0" name="horaAcademica" type="tns:horaAcademica" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="horaAcademica">
    <xs:sequence>
      <xs:element minOccurs="0" name="curso" type="tns:curso" />
      <xs:element minOccurs="0" name="horaFin" type="tns:localTime" />
      <xs:element minOccurs="0" name="horaInicio" type="tns:localTime" />
      <xs:element minOccurs="0" name="idHoraAcademica" type="xs:int" />
      <xs:element name="idProfesorRelacionado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="curso">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoCurso" type="xs:string" />
      <xs:element name="fid_Profesor" type="xs:int" />
      <xs:element minOccurs="0" name="gradoAcademico" type="tns:gradoAcademico" />
      <xs:element name="horasPorSemana" type="xs:int" />
      <xs:element name="horasTotales" type="xs:int" />
      <xs:element minOccurs="0" name="idCurso" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="gradoAcademico">
    <xs:sequence>
      <xs:element name="cantidadAlumnos" type="xs:int" />
      <xs:element name="fid_AnioAcademico" type="xs:int" />
      <xs:element minOccurs="0" name="idGradoAcademico" type="xs:int" />
      <xs:element minOccurs="0" name="nivel" type="tns:nivelEducativo" />
      <xs:element name="numeroGrado" type="xs:int" />
      <xs:element name="vacantes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="modificarHoraAcademicaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerHoraAcademicaPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idHoraAcademica" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerHoraAcademicaPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:horaAcademica" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarHoraAcademica">
    <xs:sequence>
      <xs:element minOccurs="0" name="horaAcademica" type="tns:horaAcademica" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarHoraAcademicaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosHorasAcademicas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosHorasAcademicasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:horaAcademica" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarHoraAcademica">
    <xs:sequence>
      <xs:element minOccurs="0" name="horaAcademica" type="tns:horaAcademica" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarHoraAcademicaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="nivelEducativo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PRIMARIA" />
      <xs:enumeration value="SECUNDARIA" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>