Laboratorio 12/SoftIEPixelPenguins/Frontend/SoftPixelPenguinsWA/SoftPixelPenguinsWA/Connected Services/ServicioWeb/InstitucionEducativaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pixelpenguins.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="InstitucionEducativaWS" targetNamespace="http://services.pixelpenguins.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftPixelPenguinsWSBL/InstitucionEducativaWS?xsd=1" namespace="http://services.pixelpenguins.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="obtenerInstitucionEducativaPorId">
    <part name="parameters" element="tns:obtenerInstitucionEducativaPorId" />
  </message>
  <message name="obtenerInstitucionEducativaPorIdResponse">
    <part name="parameters" element="tns:obtenerInstitucionEducativaPorIdResponse" />
  </message>
  <message name="modificarInstitucionEducativa">
    <part name="parameters" element="tns:modificarInstitucionEducativa" />
  </message>
  <message name="modificarInstitucionEducativaResponse">
    <part name="parameters" element="tns:modificarInstitucionEducativaResponse" />
  </message>
  <message name="insertarInstitucionEducativa">
    <part name="parameters" element="tns:insertarInstitucionEducativa" />
  </message>
  <message name="insertarInstitucionEducativaResponse">
    <part name="parameters" element="tns:insertarInstitucionEducativaResponse" />
  </message>
  <message name="eliminarInstitucionEducativa">
    <part name="parameters" element="tns:eliminarInstitucionEducativa" />
  </message>
  <message name="eliminarInstitucionEducativaResponse">
    <part name="parameters" element="tns:eliminarInstitucionEducativaResponse" />
  </message>
  <message name="listarTodosInstitucionesEducativas">
    <part name="parameters" element="tns:listarTodosInstitucionesEducativas" />
  </message>
  <message name="listarTodosInstitucionesEducativasResponse">
    <part name="parameters" element="tns:listarTodosInstitucionesEducativasResponse" />
  </message>
  <portType name="InstitucionEducativaWS">
    <operation name="obtenerInstitucionEducativaPorId">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/InstitucionEducativaWS/obtenerInstitucionEducativaPorIdRequest" message="tns:obtenerInstitucionEducativaPorId" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/InstitucionEducativaWS/obtenerInstitucionEducativaPorIdResponse" message="tns:obtenerInstitucionEducativaPorIdResponse" />
    </operation>
    <operation name="modificarInstitucionEducativa">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/InstitucionEducativaWS/modificarInstitucionEducativaRequest" message="tns:modificarInstitucionEducativa" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/InstitucionEducativaWS/modificarInstitucionEducativaResponse" message="tns:modificarInstitucionEducativaResponse" />
    </operation>
    <operation name="insertarInstitucionEducativa">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/InstitucionEducativaWS/insertarInstitucionEducativaRequest" message="tns:insertarInstitucionEducativa" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/InstitucionEducativaWS/insertarInstitucionEducativaResponse" message="tns:insertarInstitucionEducativaResponse" />
    </operation>
    <operation name="eliminarInstitucionEducativa">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/InstitucionEducativaWS/eliminarInstitucionEducativaRequest" message="tns:eliminarInstitucionEducativa" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/InstitucionEducativaWS/eliminarInstitucionEducativaResponse" message="tns:eliminarInstitucionEducativaResponse" />
    </operation>
    <operation name="listarTodosInstitucionesEducativas">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/InstitucionEducativaWS/listarTodosInstitucionesEducativasRequest" message="tns:listarTodosInstitucionesEducativas" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/InstitucionEducativaWS/listarTodosInstitucionesEducativasResponse" message="tns:listarTodosInstitucionesEducativasResponse" />
    </operation>
  </portType>
  <binding name="InstitucionEducativaWSPortBinding" type="tns:InstitucionEducativaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerInstitucionEducativaPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarInstitucionEducativa">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarInstitucionEducativa">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarInstitucionEducativa">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosInstitucionesEducativas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="InstitucionEducativaWS">
    <port name="InstitucionEducativaWSPort" binding="tns:InstitucionEducativaWSPortBinding">
      <soap:address location="http://localhost:8080/SoftPixelPenguinsWSBL/InstitucionEducativaWS" />
    </port>
  </service>
</definitions>