Laboratorio 12/SoftIEPixelPenguins/Frontend/SoftPixelPenguinsWA/SoftPixelPenguinsWA/Connected Services/ServicioWeb/JornadaEscolarWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.pixelpenguins.pucp.edu.pe" targetNamespace="http://services.pixelpenguins.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarJornadaEscolar" type="tns:eliminarJornadaEscolar" />
  <xs:element name="eliminarJornadaEscolarResponse" type="tns:eliminarJornadaEscolarResponse" />
  <xs:element name="insertarJornadaEscolar" type="tns:insertarJornadaEscolar" />
  <xs:element name="insertarJornadaEscolarResponse" type="tns:insertarJornadaEscolarResponse" />
  <xs:element name="listarTodosJornadasEscolares" type="tns:listarTodosJornadasEscolares" />
  <xs:element name="listarTodosJornadasEscolaresResponse" type="tns:listarTodosJornadasEscolaresResponse" />
  <xs:element name="modificarJornadaEscolar" type="tns:modificarJornadaEscolar" />
  <xs:element name="modificarJornadaEscolarResponse" type="tns:modificarJornadaEscolarResponse" />
  <xs:element name="obtenerJornadaEscolarPorId" type="tns:obtenerJornadaEscolarPorId" />
  <xs:element name="obtenerJornadaEscolarPorIdResponse" type="tns:obtenerJornadaEscolarPorIdResponse" />
  <xs:complexType name="listarTodosJornadasEscolares">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosJornadasEscolaresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:jornadaEscolar" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="jornadaEscolar">
    <xs:sequence>
      <xs:element minOccurs="0" name="dia" type="tns:diaSemana" />
      <xs:element minOccurs="0" name="gradoRelacionado" type="tns:gradoAcademico" />
      <xs:element minOccurs="0" name="horaFin" type="tns:localTime" />
      <xs:element minOccurs="0" name="horaInicio" type="tns:localTime" />
      <xs:element name="horasDeEstudio" type="xs:int" />
      <xs:element minOccurs="0" name="idJornadaEscolar" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="gradoAcademico">
    <xs:sequence>
      <xs:element name="cantidadAlumnos" type="xs:int" />
      <xs:element name="fid_AnioAcademico" type="xs:int" />
      <xs:element minOccurs="0" name="idGradoAcademico" type="xs:int" />
      <xs:element minOccurs="0" name="nivel" type="tns:nivelEducativo" />
      <xs:element name="numeroGrado" type="xs:int" />
      <xs:element name="vacantes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="eliminarJornadaEscolar">
    <xs:sequence>
      <xs:element minOccurs="0" name="jornadaEscolar" type="tns:jornadaEscolar" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarJornadaEscolarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerJornadaEscolarPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idJornadaEscolar" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerJornadaEscolarPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:jornadaEscolar" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarJornadaEscolar">
    <xs:sequence>
      <xs:element minOccurs="0" name="jornadaEscolar" type="tns:jornadaEscolar" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarJornadaEscolarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarJornadaEscolar">
    <xs:sequence>
      <xs:element minOccurs="0" name="jornadaEscolar" type="tns:jornadaEscolar" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarJornadaEscolarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="diaSemana">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LUNES" />
      <xs:enumeration value="MARTES" />
      <xs:enumeration value="MIERCOLES" />
      <xs:enumeration value="JUEVES" />
      <xs:enumeration value="VIERNES" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nivelEducativo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PRIMARIA" />
      <xs:enumeration value="SECUNDARIA" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>