Laboratorio 12/SoftIEPixelPenguins/Frontend/SoftPixelPenguinsWA/SoftPixelPenguinsWA/Connected Services/ServicioWeb/JornadaEscolarWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pixelpenguins.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="JornadaEscolarWS" targetNamespace="http://services.pixelpenguins.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftPixelPenguinsWSBL/JornadaEscolarWS?xsd=1" namespace="http://services.pixelpenguins.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="insertarJornadaEscolar">
    <part name="parameters" element="tns:insertarJornadaEscolar" />
  </message>
  <message name="insertarJornadaEscolarResponse">
    <part name="parameters" element="tns:insertarJornadaEscolarResponse" />
  </message>
  <message name="modificarJornadaEscolar">
    <part name="parameters" element="tns:modificarJornadaEscolar" />
  </message>
  <message name="modificarJornadaEscolarResponse">
    <part name="parameters" element="tns:modificarJornadaEscolarResponse" />
  </message>
  <message name="eliminarJornadaEscolar">
    <part name="parameters" element="tns:eliminarJornadaEscolar" />
  </message>
  <message name="eliminarJornadaEscolarResponse">
    <part name="parameters" element="tns:eliminarJornadaEscolarResponse" />
  </message>
  <message name="obtenerJornadaEscolarPorId">
    <part name="parameters" element="tns:obtenerJornadaEscolarPorId" />
  </message>
  <message name="obtenerJornadaEscolarPorIdResponse">
    <part name="parameters" element="tns:obtenerJornadaEscolarPorIdResponse" />
  </message>
  <message name="listarTodosJornadasEscolares">
    <part name="parameters" element="tns:listarTodosJornadasEscolares" />
  </message>
  <message name="listarTodosJornadasEscolaresResponse">
    <part name="parameters" element="tns:listarTodosJornadasEscolaresResponse" />
  </message>
  <portType name="JornadaEscolarWS">
    <operation name="insertarJornadaEscolar">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/JornadaEscolarWS/insertarJornadaEscolarRequest" message="tns:insertarJornadaEscolar" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/JornadaEscolarWS/insertarJornadaEscolarResponse" message="tns:insertarJornadaEscolarResponse" />
    </operation>
    <operation name="modificarJornadaEscolar">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/JornadaEscolarWS/modificarJornadaEscolarRequest" message="tns:modificarJornadaEscolar" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/JornadaEscolarWS/modificarJornadaEscolarResponse" message="tns:modificarJornadaEscolarResponse" />
    </operation>
    <operation name="eliminarJornadaEscolar">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/JornadaEscolarWS/eliminarJornadaEscolarRequest" message="tns:eliminarJornadaEscolar" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/JornadaEscolarWS/eliminarJornadaEscolarResponse" message="tns:eliminarJornadaEscolarResponse" />
    </operation>
    <operation name="obtenerJornadaEscolarPorId">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/JornadaEscolarWS/obtenerJornadaEscolarPorIdRequest" message="tns:obtenerJornadaEscolarPorId" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/JornadaEscolarWS/obtenerJornadaEscolarPorIdResponse" message="tns:obtenerJornadaEscolarPorIdResponse" />
    </operation>
    <operation name="listarTodosJornadasEscolares">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/JornadaEscolarWS/listarTodosJornadasEscolaresRequest" message="tns:listarTodosJornadasEscolares" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/JornadaEscolarWS/listarTodosJornadasEscolaresResponse" message="tns:listarTodosJornadasEscolaresResponse" />
    </operation>
  </portType>
  <binding name="JornadaEscolarWSPortBinding" type="tns:JornadaEscolarWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarJornadaEscolar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarJornadaEscolar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarJornadaEscolar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerJornadaEscolarPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosJornadasEscolares">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="JornadaEscolarWS">
    <port name="JornadaEscolarWSPort" binding="tns:JornadaEscolarWSPortBinding">
      <soap:address location="http://localhost:8080/SoftPixelPenguinsWSBL/JornadaEscolarWS" />
    </port>
  </service>
</definitions>