Laboratorio 12/SoftIEPixelPenguins/Frontend/SoftPixelPenguinsWA/SoftPixelPenguinsWA/Connected Services/ServicioWeb/MatriculaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pixelpenguins.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MatriculaWS" targetNamespace="http://services.pixelpenguins.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftPixelPenguinsWSBL/MatriculaWS?xsd=1" namespace="http://services.pixelpenguins.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="listarTodosMatriculas">
    <part name="parameters" element="tns:listarTodosMatriculas" />
  </message>
  <message name="listarTodosMatriculasResponse">
    <part name="parameters" element="tns:listarTodosMatriculasResponse" />
  </message>
  <message name="obtenerMatriculaPorId">
    <part name="parameters" element="tns:obtenerMatriculaPorId" />
  </message>
  <message name="obtenerMatriculaPorIdResponse">
    <part name="parameters" element="tns:obtenerMatriculaPorIdResponse" />
  </message>
  <message name="obtenerMatriculaPorIdAlumno">
    <part name="parameters" element="tns:obtenerMatriculaPorIdAlumno" />
  </message>
  <message name="obtenerMatriculaPorIdAlumnoResponse">
    <part name="parameters" element="tns:obtenerMatriculaPorIdAlumnoResponse" />
  </message>
  <message name="listarMatriculasPorGradoAcademico">
    <part name="parameters" element="tns:listarMatriculasPorGradoAcademico" />
  </message>
  <message name="listarMatriculasPorGradoAcademicoResponse">
    <part name="parameters" element="tns:listarMatriculasPorGradoAcademicoResponse" />
  </message>
  <message name="eliminarMatricula">
    <part name="parameters" element="tns:eliminarMatricula" />
  </message>
  <message name="eliminarMatriculaResponse">
    <part name="parameters" element="tns:eliminarMatriculaResponse" />
  </message>
  <message name="insertarMatricula">
    <part name="parameters" element="tns:insertarMatricula" />
  </message>
  <message name="insertarMatriculaResponse">
    <part name="parameters" element="tns:insertarMatriculaResponse" />
  </message>
  <message name="modificarMatricula">
    <part name="parameters" element="tns:modificarMatricula" />
  </message>
  <message name="modificarMatriculaResponse">
    <part name="parameters" element="tns:modificarMatriculaResponse" />
  </message>
  <portType name="MatriculaWS">
    <operation name="listarTodosMatriculas">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/MatriculaWS/listarTodosMatriculasRequest" message="tns:listarTodosMatriculas" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/MatriculaWS/listarTodosMatriculasResponse" message="tns:listarTodosMatriculasResponse" />
    </operation>
    <operation name="obtenerMatriculaPorId">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/MatriculaWS/obtenerMatriculaPorIdRequest" message="tns:obtenerMatriculaPorId" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/MatriculaWS/obtenerMatriculaPorIdResponse" message="tns:obtenerMatriculaPorIdResponse" />
    </operation>
    <operation name="obtenerMatriculaPorIdAlumno">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/MatriculaWS/obtenerMatriculaPorIdAlumnoRequest" message="tns:obtenerMatriculaPorIdAlumno" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/MatriculaWS/obtenerMatriculaPorIdAlumnoResponse" message="tns:obtenerMatriculaPorIdAlumnoResponse" />
    </operation>
    <operation name="listarMatriculasPorGradoAcademico">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/MatriculaWS/listarMatriculasPorGradoAcademicoRequest" message="tns:listarMatriculasPorGradoAcademico" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/MatriculaWS/listarMatriculasPorGradoAcademicoResponse" message="tns:listarMatriculasPorGradoAcademicoResponse" />
    </operation>
    <operation name="eliminarMatricula">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/MatriculaWS/eliminarMatriculaRequest" message="tns:eliminarMatricula" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/MatriculaWS/eliminarMatriculaResponse" message="tns:eliminarMatriculaResponse" />
    </operation>
    <operation name="insertarMatricula">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/MatriculaWS/insertarMatriculaRequest" message="tns:insertarMatricula" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/MatriculaWS/insertarMatriculaResponse" message="tns:insertarMatriculaResponse" />
    </operation>
    <operation name="modificarMatricula">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/MatriculaWS/modificarMatriculaRequest" message="tns:modificarMatricula" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/MatriculaWS/modificarMatriculaResponse" message="tns:modificarMatriculaResponse" />
    </operation>
  </portType>
  <binding name="MatriculaWSPortBinding" type="tns:MatriculaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarTodosMatriculas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerMatriculaPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerMatriculaPorIdAlumno">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarMatriculasPorGradoAcademico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarMatricula">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarMatricula">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarMatricula">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MatriculaWS">
    <port name="MatriculaWSPort" binding="tns:MatriculaWSPortBinding">
      <soap:address location="http://localhost:8080/SoftPixelPenguinsWSBL/MatriculaWS" />
    </port>
  </service>
</definitions>