Laboratorio 12/SoftIEPixelPenguins/Frontend/SoftPixelPenguinsWA/SoftPixelPenguinsWA/Connected Services/ServicioWeb/PagoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.pixelpenguins.pucp.edu.pe" targetNamespace="http://services.pixelpenguins.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PagoXIdMatricula" type="tns:PagoXIdMatricula" />
  <xs:element name="PagoXIdMatriculaResponse" type="tns:PagoXIdMatriculaResponse" />
  <xs:element name="eliminarPago" type="tns:eliminarPago" />
  <xs:element name="eliminarPagoResponse" type="tns:eliminarPagoResponse" />
  <xs:element name="insertarPago" type="tns:insertarPago" />
  <xs:element name="insertarPagoResponse" type="tns:insertarPagoResponse" />
  <xs:element name="listarTodosPagos" type="tns:listarTodosPagos" />
  <xs:element name="listarTodosPagosResponse" type="tns:listarTodosPagosResponse" />
  <xs:element name="modificarPago" type="tns:modificarPago" />
  <xs:element name="modificarPagoResponse" type="tns:modificarPagoResponse" />
  <xs:element name="obtenerPagoPorId" type="tns:obtenerPagoPorId" />
  <xs:element name="obtenerPagoPorIdResponse" type="tns:obtenerPagoPorIdResponse" />
  <xs:complexType name="eliminarPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="pago" type="tns:pago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pago">
    <xs:sequence>
      <xs:element minOccurs="0" name="comprobanteDePago" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoDePago" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaPago" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idPago" type="xs:int" />
      <xs:element minOccurs="0" name="matricula" type="tns:matricula" />
      <xs:element name="monto" type="xs:double" />
      <xs:element minOccurs="0" name="tipoDeComprobante" type="tns:tipoDeComprobante" />
      <xs:element minOccurs="0" name="tipoPago" type="tns:tipoDePago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="matricula">
    <xs:sequence>
      <xs:element minOccurs="0" name="anioAcademico" type="tns:anioAcademico" />
      <xs:element name="fidAlumno" type="xs:int" />
      <xs:element minOccurs="0" name="gradoAcademico" type="tns:gradoAcademico" />
      <xs:element minOccurs="0" name="idMatricula" type="xs:int" />
      <xs:element minOccurs="0" name="seccionAcademica" type="tns:seccionAcademica" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="anioAcademico">
    <xs:sequence>
      <xs:element name="anio" type="xs:int" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idAnioAcademico" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="gradoAcademico">
    <xs:sequence>
      <xs:element name="cantidadAlumnos" type="xs:int" />
      <xs:element name="fid_AnioAcademico" type="xs:int" />
      <xs:element minOccurs="0" name="idGradoAcademico" type="xs:int" />
      <xs:element minOccurs="0" name="nivel" type="tns:nivelEducativo" />
      <xs:element name="numeroGrado" type="xs:int" />
      <xs:element name="vacantes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="seccionAcademica">
    <xs:sequence>
      <xs:element minOccurs="0" name="aula" type="xs:string" />
      <xs:element name="cantidadAlumnos" type="xs:int" />
      <xs:element minOccurs="0" name="gradoAcademico" type="tns:gradoAcademico" />
      <xs:element minOccurs="0" name="idSeccionAcademica" type="xs:int" />
      <xs:element name="seccion" type="xs:unsignedShort" />
      <xs:element name="vacantes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPagoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="pago" type="tns:pago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPagoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPagoPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPago" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPagoPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:pago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PagoXIdMatricula">
    <xs:sequence>
      <xs:element name="fid_Matricula" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PagoXIdMatriculaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:pago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosPagos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosPagosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:pago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="pago" type="tns:pago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPagoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoDePago">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PENDIENTE" />
      <xs:enumeration value="CANCELADO" />
      <xs:enumeration value="ATRASADO" />
      <xs:enumeration value="PAGO_PARCIAL" />
      <xs:enumeration value="RECHAZADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nivelEducativo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PRIMARIA" />
      <xs:enumeration value="SECUNDARIA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoDeComprobante">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BOLETA" />
      <xs:enumeration value="FACTURA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoDePago">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BANCOS_ASOCIADOS" />
      <xs:enumeration value="TRANSFERENCIA_BANCARIA" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>