Laboratorio 12/SoftIEPixelPenguins/Frontend/SoftPixelPenguinsWA/SoftPixelPenguinsWA/Connected Services/ServicioWeb/PagoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pixelpenguins.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PagoWS" targetNamespace="http://services.pixelpenguins.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftPixelPenguinsWSBL/PagoWS?xsd=1" namespace="http://services.pixelpenguins.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="obtenerPagoPorId">
    <part name="parameters" element="tns:obtenerPagoPorId" />
  </message>
  <message name="obtenerPagoPorIdResponse">
    <part name="parameters" element="tns:obtenerPagoPorIdResponse" />
  </message>
  <message name="modificarPago">
    <part name="parameters" element="tns:modificarPago" />
  </message>
  <message name="modificarPagoResponse">
    <part name="parameters" element="tns:modificarPagoResponse" />
  </message>
  <message name="eliminarPago">
    <part name="parameters" element="tns:eliminarPago" />
  </message>
  <message name="eliminarPagoResponse">
    <part name="parameters" element="tns:eliminarPagoResponse" />
  </message>
  <message name="listarTodosPagos">
    <part name="parameters" element="tns:listarTodosPagos" />
  </message>
  <message name="listarTodosPagosResponse">
    <part name="parameters" element="tns:listarTodosPagosResponse" />
  </message>
  <message name="insertarPago">
    <part name="parameters" element="tns:insertarPago" />
  </message>
  <message name="insertarPagoResponse">
    <part name="parameters" element="tns:insertarPagoResponse" />
  </message>
  <message name="PagoXIdMatricula">
    <part name="parameters" element="tns:PagoXIdMatricula" />
  </message>
  <message name="PagoXIdMatriculaResponse">
    <part name="parameters" element="tns:PagoXIdMatriculaResponse" />
  </message>
  <message name="listarPagosXIdMatricula">
    <part name="parameters" element="tns:listarPagosXIdMatricula" />
  </message>
  <message name="listarPagosXIdMatriculaResponse">
    <part name="parameters" element="tns:listarPagosXIdMatriculaResponse" />
  </message>
  <message name="listarPagosPoridGrado">
    <part name="parameters" element="tns:listarPagosPoridGrado" />
  </message>
  <message name="listarPagosPoridGradoResponse">
    <part name="parameters" element="tns:listarPagosPoridGradoResponse" />
  </message>
  <portType name="PagoWS">
    <operation name="obtenerPagoPorId">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/PagoWS/obtenerPagoPorIdRequest" message="tns:obtenerPagoPorId" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/PagoWS/obtenerPagoPorIdResponse" message="tns:obtenerPagoPorIdResponse" />
    </operation>
    <operation name="modificarPago">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/PagoWS/modificarPagoRequest" message="tns:modificarPago" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/PagoWS/modificarPagoResponse" message="tns:modificarPagoResponse" />
    </operation>
    <operation name="eliminarPago">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/PagoWS/eliminarPagoRequest" message="tns:eliminarPago" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/PagoWS/eliminarPagoResponse" message="tns:eliminarPagoResponse" />
    </operation>
    <operation name="listarTodosPagos">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/PagoWS/listarTodosPagosRequest" message="tns:listarTodosPagos" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/PagoWS/listarTodosPagosResponse" message="tns:listarTodosPagosResponse" />
    </operation>
    <operation name="insertarPago">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/PagoWS/insertarPagoRequest" message="tns:insertarPago" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/PagoWS/insertarPagoResponse" message="tns:insertarPagoResponse" />
    </operation>
    <operation name="PagoXIdMatricula">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/PagoWS/PagoXIdMatriculaRequest" message="tns:PagoXIdMatricula" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/PagoWS/PagoXIdMatriculaResponse" message="tns:PagoXIdMatriculaResponse" />
    </operation>
    <operation name="listarPagosXIdMatricula">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/PagoWS/listarPagosXIdMatriculaRequest" message="tns:listarPagosXIdMatricula" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/PagoWS/listarPagosXIdMatriculaResponse" message="tns:listarPagosXIdMatriculaResponse" />
    </operation>
    <operation name="listarPagosPoridGrado">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/PagoWS/listarPagosPoridGradoRequest" message="tns:listarPagosPoridGrado" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/PagoWS/listarPagosPoridGradoResponse" message="tns:listarPagosPoridGradoResponse" />
    </operation>
  </portType>
  <binding name="PagoWSPortBinding" type="tns:PagoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerPagoPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosPagos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="PagoXIdMatricula">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPagosXIdMatricula">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPagosPoridGrado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PagoWS">
    <port name="PagoWSPort" binding="tns:PagoWSPortBinding">
      <soap:address location="http://localhost:8080/SoftPixelPenguinsWSBL/PagoWS" />
    </port>
  </service>
</definitions>