Laboratorio 12/SoftIEPixelPenguins/Frontend/SoftPixelPenguinsWA/SoftPixelPenguinsWA/Connected Services/ServicioWeb/PersonalAdministrativoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pixelpenguins.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PersonalAdministrativoWS" targetNamespace="http://services.pixelpenguins.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftPixelPenguinsWSBL/PersonalAdministrativoWS?xsd=1" namespace="http://services.pixelpenguins.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="obtenerPersonalAdministrativoPorId">
    <part name="parameters" element="tns:obtenerPersonalAdministrativoPorId" />
  </message>
  <message name="obtenerPersonalAdministrativoPorIdResponse">
    <part name="parameters" element="tns:obtenerPersonalAdministrativoPorIdResponse" />
  </message>
  <message name="modificarPersonalAdministrativo">
    <part name="parameters" element="tns:modificarPersonalAdministrativo" />
  </message>
  <message name="modificarPersonalAdministrativoResponse">
    <part name="parameters" element="tns:modificarPersonalAdministrativoResponse" />
  </message>
  <message name="listarTodosPersonalAdministrativo">
    <part name="parameters" element="tns:listarTodosPersonalAdministrativo" />
  </message>
  <message name="listarTodosPersonalAdministrativoResponse">
    <part name="parameters" element="tns:listarTodosPersonalAdministrativoResponse" />
  </message>
  <message name="eliminarPersonalAdministrativo">
    <part name="parameters" element="tns:eliminarPersonalAdministrativo" />
  </message>
  <message name="eliminarPersonalAdministrativoResponse">
    <part name="parameters" element="tns:eliminarPersonalAdministrativoResponse" />
  </message>
  <message name="insertarPersonalAdministrativo">
    <part name="parameters" element="tns:insertarPersonalAdministrativo" />
  </message>
  <message name="insertarPersonalAdministrativoResponse">
    <part name="parameters" element="tns:insertarPersonalAdministrativoResponse" />
  </message>
  <message name="existePersonalAdministrativo">
    <part name="parameters" element="tns:existePersonalAdministrativo" />
  </message>
  <message name="existePersonalAdministrativoResponse">
    <part name="parameters" element="tns:existePersonalAdministrativoResponse" />
  </message>
  <portType name="PersonalAdministrativoWS">
    <operation name="obtenerPersonalAdministrativoPorId">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/PersonalAdministrativoWS/obtenerPersonalAdministrativoPorIdRequest" message="tns:obtenerPersonalAdministrativoPorId" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/PersonalAdministrativoWS/obtenerPersonalAdministrativoPorIdResponse" message="tns:obtenerPersonalAdministrativoPorIdResponse" />
    </operation>
    <operation name="modificarPersonalAdministrativo">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/PersonalAdministrativoWS/modificarPersonalAdministrativoRequest" message="tns:modificarPersonalAdministrativo" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/PersonalAdministrativoWS/modificarPersonalAdministrativoResponse" message="tns:modificarPersonalAdministrativoResponse" />
    </operation>
    <operation name="listarTodosPersonalAdministrativo">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/PersonalAdministrativoWS/listarTodosPersonalAdministrativoRequest" message="tns:listarTodosPersonalAdministrativo" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/PersonalAdministrativoWS/listarTodosPersonalAdministrativoResponse" message="tns:listarTodosPersonalAdministrativoResponse" />
    </operation>
    <operation name="eliminarPersonalAdministrativo">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/PersonalAdministrativoWS/eliminarPersonalAdministrativoRequest" message="tns:eliminarPersonalAdministrativo" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/PersonalAdministrativoWS/eliminarPersonalAdministrativoResponse" message="tns:eliminarPersonalAdministrativoResponse" />
    </operation>
    <operation name="insertarPersonalAdministrativo">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/PersonalAdministrativoWS/insertarPersonalAdministrativoRequest" message="tns:insertarPersonalAdministrativo" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/PersonalAdministrativoWS/insertarPersonalAdministrativoResponse" message="tns:insertarPersonalAdministrativoResponse" />
    </operation>
    <operation name="existePersonalAdministrativo">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/PersonalAdministrativoWS/existePersonalAdministrativoRequest" message="tns:existePersonalAdministrativo" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/PersonalAdministrativoWS/existePersonalAdministrativoResponse" message="tns:existePersonalAdministrativoResponse" />
    </operation>
  </portType>
  <binding name="PersonalAdministrativoWSPortBinding" type="tns:PersonalAdministrativoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerPersonalAdministrativoPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarPersonalAdministrativo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosPersonalAdministrativo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarPersonalAdministrativo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPersonalAdministrativo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="existePersonalAdministrativo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PersonalAdministrativoWS">
    <port name="PersonalAdministrativoWSPort" binding="tns:PersonalAdministrativoWSPortBinding">
      <soap:address location="http://localhost:8080/SoftPixelPenguinsWSBL/PersonalAdministrativoWS" />
    </port>
  </service>
</definitions>