Laboratorio 12/SoftIEPixelPenguins/Frontend/SoftPixelPenguinsWA/SoftPixelPenguinsWA/Connected Services/ServicioWeb/ProfesorWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pixelpenguins.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ProfesorWS" targetNamespace="http://services.pixelpenguins.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftPixelPenguinsWSBL/ProfesorWS?xsd=1" namespace="http://services.pixelpenguins.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="obtenerProfesorPorId">
    <part name="parameters" element="tns:obtenerProfesorPorId" />
  </message>
  <message name="obtenerProfesorPorIdResponse">
    <part name="parameters" element="tns:obtenerProfesorPorIdResponse" />
  </message>
  <message name="listarProfesoresPorNombre">
    <part name="parameters" element="tns:listarProfesoresPorNombre" />
  </message>
  <message name="listarProfesoresPorNombreResponse">
    <part name="parameters" element="tns:listarProfesoresPorNombreResponse" />
  </message>
  <message name="listarTodosProfesores">
    <part name="parameters" element="tns:listarTodosProfesores" />
  </message>
  <message name="listarTodosProfesoresResponse">
    <part name="parameters" element="tns:listarTodosProfesoresResponse" />
  </message>
  <message name="existeprofesor">
    <part name="parameters" element="tns:existeprofesor" />
  </message>
  <message name="existeprofesorResponse">
    <part name="parameters" element="tns:existeprofesorResponse" />
  </message>
  <message name="eliminarProfesor">
    <part name="parameters" element="tns:eliminarProfesor" />
  </message>
  <message name="eliminarProfesorResponse">
    <part name="parameters" element="tns:eliminarProfesorResponse" />
  </message>
  <message name="modificarProfesor">
    <part name="parameters" element="tns:modificarProfesor" />
  </message>
  <message name="modificarProfesorResponse">
    <part name="parameters" element="tns:modificarProfesorResponse" />
  </message>
  <message name="insertarProfesor">
    <part name="parameters" element="tns:insertarProfesor" />
  </message>
  <message name="insertarProfesorResponse">
    <part name="parameters" element="tns:insertarProfesorResponse" />
  </message>
  <portType name="ProfesorWS">
    <operation name="obtenerProfesorPorId">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/ProfesorWS/obtenerProfesorPorIdRequest" message="tns:obtenerProfesorPorId" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/ProfesorWS/obtenerProfesorPorIdResponse" message="tns:obtenerProfesorPorIdResponse" />
    </operation>
    <operation name="listarProfesoresPorNombre">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/ProfesorWS/listarProfesoresPorNombreRequest" message="tns:listarProfesoresPorNombre" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/ProfesorWS/listarProfesoresPorNombreResponse" message="tns:listarProfesoresPorNombreResponse" />
    </operation>
    <operation name="listarTodosProfesores">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/ProfesorWS/listarTodosProfesoresRequest" message="tns:listarTodosProfesores" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/ProfesorWS/listarTodosProfesoresResponse" message="tns:listarTodosProfesoresResponse" />
    </operation>
    <operation name="existeprofesor">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/ProfesorWS/existeprofesorRequest" message="tns:existeprofesor" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/ProfesorWS/existeprofesorResponse" message="tns:existeprofesorResponse" />
    </operation>
    <operation name="eliminarProfesor">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/ProfesorWS/eliminarProfesorRequest" message="tns:eliminarProfesor" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/ProfesorWS/eliminarProfesorResponse" message="tns:eliminarProfesorResponse" />
    </operation>
    <operation name="modificarProfesor">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/ProfesorWS/modificarProfesorRequest" message="tns:modificarProfesor" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/ProfesorWS/modificarProfesorResponse" message="tns:modificarProfesorResponse" />
    </operation>
    <operation name="insertarProfesor">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/ProfesorWS/insertarProfesorRequest" message="tns:insertarProfesor" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/ProfesorWS/insertarProfesorResponse" message="tns:insertarProfesorResponse" />
    </operation>
  </portType>
  <binding name="ProfesorWSPortBinding" type="tns:ProfesorWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerProfesorPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProfesoresPorNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosProfesores">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="existeprofesor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarProfesor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarProfesor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarProfesor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ProfesorWS">
    <port name="ProfesorWSPort" binding="tns:ProfesorWSPortBinding">
      <soap:address location="http://localhost:8080/SoftPixelPenguinsWSBL/ProfesorWS" />
    </port>
  </service>
</definitions>