Laboratorio 12/SoftIEPixelPenguins/Frontend/SoftPixelPenguinsWA/SoftPixelPenguinsWA/Connected Services/ServicioWeb/Reportes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pixelpenguins.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Reportes" targetNamespace="http://services.pixelpenguins.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftPixelPenguinsWSBL/Reportes?xsd=1" namespace="http://services.pixelpenguins.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="reporteMatriculasXGrado">
    <part name="parameters" element="tns:reporteMatriculasXGrado" />
  </message>
  <message name="reporteMatriculasXGradoResponse">
    <part name="parameters" element="tns:reporteMatriculasXGradoResponse" />
  </message>
  <message name="IOException">
    <part name="fault" element="tns:IOException" />
  </message>
  <message name="reportePagos">
    <part name="parameters" element="tns:reportePagos" />
  </message>
  <message name="reportePagosResponse">
    <part name="parameters" element="tns:reportePagosResponse" />
  </message>
  <portType name="Reportes">
    <operation name="reporteMatriculasXGrado">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/Reportes/reporteMatriculasXGradoRequest" message="tns:reporteMatriculasXGrado" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/Reportes/reporteMatriculasXGradoResponse" message="tns:reporteMatriculasXGradoResponse" />
      <fault wsam:Action="http://services.pixelpenguins.pucp.edu.pe/Reportes/reporteMatriculasXGrado/Fault/IOException" name="IOException" message="tns:IOException" />
    </operation>
    <operation name="reportePagos">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/Reportes/reportePagosRequest" message="tns:reportePagos" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/Reportes/reportePagosResponse" message="tns:reportePagosResponse" />
      <fault wsam:Action="http://services.pixelpenguins.pucp.edu.pe/Reportes/reportePagos/Fault/IOException" name="IOException" message="tns:IOException" />
    </operation>
  </portType>
  <binding name="ReportesPortBinding" type="tns:Reportes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="reporteMatriculasXGrado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
    </operation>
    <operation name="reportePagos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="Reportes">
    <port name="ReportesPort" binding="tns:ReportesPortBinding">
      <soap:address location="http://localhost:8080/SoftPixelPenguinsWSBL/Reportes" />
    </port>
  </service>
</definitions>