Laboratorio 12/SoftIEPixelPenguins/Frontend/SoftPixelPenguinsWA/SoftPixelPenguinsWA/Connected Services/ServicioWeb/UsuarioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pixelpenguins.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="UsuarioWS" targetNamespace="http://services.pixelpenguins.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftPixelPenguinsWSBL/UsuarioWS?xsd=1" namespace="http://services.pixelpenguins.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="ActualizarContrasena">
    <part name="parameters" element="tns:ActualizarContrasena" />
  </message>
  <message name="ActualizarContrasenaResponse">
    <part name="parameters" element="tns:ActualizarContrasenaResponse" />
  </message>
  <message name="listarUsuariosPorNombre">
    <part name="parameters" element="tns:listarUsuariosPorNombre" />
  </message>
  <message name="listarUsuariosPorNombreResponse">
    <part name="parameters" element="tns:listarUsuariosPorNombreResponse" />
  </message>
  <message name="listarTodosUsuarios">
    <part name="parameters" element="tns:listarTodosUsuarios" />
  </message>
  <message name="listarTodosUsuariosResponse">
    <part name="parameters" element="tns:listarTodosUsuariosResponse" />
  </message>
  <message name="obtenerUsuarioPorId">
    <part name="parameters" element="tns:obtenerUsuarioPorId" />
  </message>
  <message name="obtenerUsuarioPorIdResponse">
    <part name="parameters" element="tns:obtenerUsuarioPorIdResponse" />
  </message>
  <message name="ValidarCorreoElectronico">
    <part name="parameters" element="tns:ValidarCorreoElectronico" />
  </message>
  <message name="ValidarCorreoElectronicoResponse">
    <part name="parameters" element="tns:ValidarCorreoElectronicoResponse" />
  </message>
  <message name="existeUsuario">
    <part name="parameters" element="tns:existeUsuario" />
  </message>
  <message name="existeUsuarioResponse">
    <part name="parameters" element="tns:existeUsuarioResponse" />
  </message>
  <message name="eliminarUsuario">
    <part name="parameters" element="tns:eliminarUsuario" />
  </message>
  <message name="eliminarUsuarioResponse">
    <part name="parameters" element="tns:eliminarUsuarioResponse" />
  </message>
  <message name="ValidarDatos">
    <part name="parameters" element="tns:ValidarDatos" />
  </message>
  <message name="ValidarDatosResponse">
    <part name="parameters" element="tns:ValidarDatosResponse" />
  </message>
  <message name="modificarUsuario">
    <part name="parameters" element="tns:modificarUsuario" />
  </message>
  <message name="modificarUsuarioResponse">
    <part name="parameters" element="tns:modificarUsuarioResponse" />
  </message>
  <message name="insertarUsuario">
    <part name="parameters" element="tns:insertarUsuario" />
  </message>
  <message name="insertarUsuarioResponse">
    <part name="parameters" element="tns:insertarUsuarioResponse" />
  </message>
  <portType name="UsuarioWS">
    <operation name="ActualizarContrasena">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/UsuarioWS/ActualizarContrasenaRequest" message="tns:ActualizarContrasena" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/UsuarioWS/ActualizarContrasenaResponse" message="tns:ActualizarContrasenaResponse" />
    </operation>
    <operation name="listarUsuariosPorNombre">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/UsuarioWS/listarUsuariosPorNombreRequest" message="tns:listarUsuariosPorNombre" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/UsuarioWS/listarUsuariosPorNombreResponse" message="tns:listarUsuariosPorNombreResponse" />
    </operation>
    <operation name="listarTodosUsuarios">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/UsuarioWS/listarTodosUsuariosRequest" message="tns:listarTodosUsuarios" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/UsuarioWS/listarTodosUsuariosResponse" message="tns:listarTodosUsuariosResponse" />
    </operation>
    <operation name="obtenerUsuarioPorId">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/UsuarioWS/obtenerUsuarioPorIdRequest" message="tns:obtenerUsuarioPorId" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/UsuarioWS/obtenerUsuarioPorIdResponse" message="tns:obtenerUsuarioPorIdResponse" />
    </operation>
    <operation name="ValidarCorreoElectronico">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/UsuarioWS/ValidarCorreoElectronicoRequest" message="tns:ValidarCorreoElectronico" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/UsuarioWS/ValidarCorreoElectronicoResponse" message="tns:ValidarCorreoElectronicoResponse" />
    </operation>
    <operation name="existeUsuario">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/UsuarioWS/existeUsuarioRequest" message="tns:existeUsuario" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/UsuarioWS/existeUsuarioResponse" message="tns:existeUsuarioResponse" />
    </operation>
    <operation name="eliminarUsuario">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/UsuarioWS/eliminarUsuarioRequest" message="tns:eliminarUsuario" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/UsuarioWS/eliminarUsuarioResponse" message="tns:eliminarUsuarioResponse" />
    </operation>
    <operation name="ValidarDatos">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/UsuarioWS/ValidarDatosRequest" message="tns:ValidarDatos" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/UsuarioWS/ValidarDatosResponse" message="tns:ValidarDatosResponse" />
    </operation>
    <operation name="modificarUsuario">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/UsuarioWS/modificarUsuarioRequest" message="tns:modificarUsuario" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/UsuarioWS/modificarUsuarioResponse" message="tns:modificarUsuarioResponse" />
    </operation>
    <operation name="insertarUsuario">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/UsuarioWS/insertarUsuarioRequest" message="tns:insertarUsuario" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/UsuarioWS/insertarUsuarioResponse" message="tns:insertarUsuarioResponse" />
    </operation>
  </portType>
  <binding name="UsuarioWSPortBinding" type="tns:UsuarioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ActualizarContrasena">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarUsuariosPorNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosUsuarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerUsuarioPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ValidarCorreoElectronico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="existeUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ValidarDatos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="UsuarioWS">
    <port name="UsuarioWSPort" binding="tns:UsuarioWSPortBinding">
      <soap:address location="http://localhost:8080/SoftPixelPenguinsWSBL/UsuarioWS" />
    </port>
  </service>
</definitions>