Frontend/SoftPixelPenguins/SoftPixelPenguinsWA/Connected Services/SoftPixelPenguinsWS/AlumnoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.pixelpenguins.pucp.edu.pe" targetNamespace="http://services.pixelpenguins.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarAlumno" type="tns:eliminarAlumno" />
  <xs:element name="eliminarAlumnoResponse" type="tns:eliminarAlumnoResponse" />
  <xs:element name="existeAlumno" type="tns:existeAlumno" />
  <xs:element name="existeAlumnoResponse" type="tns:existeAlumnoResponse" />
  <xs:element name="insertarAlumno" type="tns:insertarAlumno" />
  <xs:element name="insertarAlumnoResponse" type="tns:insertarAlumnoResponse" />
  <xs:element name="listarTodosAlumnos" type="tns:listarTodosAlumnos" />
  <xs:element name="listarTodosAlumnosResponse" type="tns:listarTodosAlumnosResponse" />
  <xs:element name="modificarAlumno" type="tns:modificarAlumno" />
  <xs:element name="modificarAlumnoResponse" type="tns:modificarAlumnoResponse" />
  <xs:element name="obtenerAlumnoPorId" type="tns:obtenerAlumnoPorId" />
  <xs:element name="obtenerAlumnoPorIdResponse" type="tns:obtenerAlumnoPorIdResponse" />
  <xs:complexType name="modificarAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="alumno" type="tns:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alumno">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="apoderado" type="tns:apoderado" />
          <xs:element name="codigoAlumno" type="xs:int" />
          <xs:element name="conCertificadoDeEstudios" type="xs:boolean" />
          <xs:element name="conCertificadoDeSalud" type="xs:boolean" />
          <xs:element name="conDeuda" type="xs:boolean" />
          <xs:element minOccurs="0" name="gradoAcademico" type="tns:gradoAcademico" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombreCompleto" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="tns:rol" />
      <xs:element minOccurs="0" name="sexo" type="xs:string" />
      <xs:element minOccurs="0" name="username" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="apoderado">
    <xs:sequence>
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element name="idApoderado" type="xs:int" />
      <xs:element minOccurs="0" name="nombreCompleto" type="xs:string" />
      <xs:element minOccurs="0" name="relacion" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="gradoAcademico">
    <xs:sequence>
      <xs:element name="cantidadAlumnos" type="xs:int" />
      <xs:element name="fid_AnioAcademico" type="xs:int" />
      <xs:element name="idGradoAcademico" type="xs:int" />
      <xs:element minOccurs="0" name="nivel" type="tns:nivelEducativo" />
      <xs:element name="numeroGrado" type="xs:int" />
      <xs:element name="vacantes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rol">
    <xs:sequence>
      <xs:element name="idRol" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAlumnoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosAlumnos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosAlumnosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="existeAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="existeAlumnoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerAlumnoPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerAlumnoPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="alumno" type="tns:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAlumnoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="alumno" type="tns:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAlumnoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="nivelEducativo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PRIMARIO" />
      <xs:enumeration value="SECUNDARIO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>