Frontend/SoftPixelPenguins/SoftPixelPenguinsWA/Connected Services/SoftPixelPenguinsWS/CompetenciaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.pixelpenguins.pucp.edu.pe" targetNamespace="http://services.pixelpenguins.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarCompetencia" type="tns:eliminarCompetencia" />
  <xs:element name="eliminarCompetenciaResponse" type="tns:eliminarCompetenciaResponse" />
  <xs:element name="insertarCompetencia" type="tns:insertarCompetencia" />
  <xs:element name="insertarCompetenciaResponse" type="tns:insertarCompetenciaResponse" />
  <xs:element name="listarTodosCompetencias" type="tns:listarTodosCompetencias" />
  <xs:element name="listarTodosCompetenciasResponse" type="tns:listarTodosCompetenciasResponse" />
  <xs:element name="modificarCompetencia" type="tns:modificarCompetencia" />
  <xs:element name="modificarCompetenciaResponse" type="tns:modificarCompetenciaResponse" />
  <xs:element name="obtenerCompetenciaPorId" type="tns:obtenerCompetenciaPorId" />
  <xs:element name="obtenerCompetenciaPorIdResponse" type="tns:obtenerCompetenciaPorIdResponse" />
  <xs:complexType name="obtenerCompetenciaPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCompetencia" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCompetenciaPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:competencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="competencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="curso" type="tns:curso" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idCompetencia" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="curso">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoCurso" type="xs:string" />
      <xs:element name="horasPorSemana" type="xs:int" />
      <xs:element name="horasTotales" type="xs:int" />
      <xs:element name="idCurso" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCompetencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="competencia" type="tns:competencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCompetenciaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosCompetencias">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosCompetenciasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:competencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCompetencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="competencia" type="tns:competencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCompetenciaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCompetencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="competencia" type="tns:competencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCompetenciaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>