Frontend/SoftPixelPenguins/SoftPixelPenguinsWA/Connected Services/SoftPixelPenguinsWS/CompetenciaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pixelpenguins.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CompetenciaWS" targetNamespace="http://services.pixelpenguins.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftPixelPenguinsWS/CompetenciaWS?xsd=1" namespace="http://services.pixelpenguins.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="eliminarCompetencia">
    <part name="parameters" element="tns:eliminarCompetencia" />
  </message>
  <message name="eliminarCompetenciaResponse">
    <part name="parameters" element="tns:eliminarCompetenciaResponse" />
  </message>
  <message name="modificarCompetencia">
    <part name="parameters" element="tns:modificarCompetencia" />
  </message>
  <message name="modificarCompetenciaResponse">
    <part name="parameters" element="tns:modificarCompetenciaResponse" />
  </message>
  <message name="listarTodosCompetencias">
    <part name="parameters" element="tns:listarTodosCompetencias" />
  </message>
  <message name="listarTodosCompetenciasResponse">
    <part name="parameters" element="tns:listarTodosCompetenciasResponse" />
  </message>
  <message name="insertarCompetencia">
    <part name="parameters" element="tns:insertarCompetencia" />
  </message>
  <message name="insertarCompetenciaResponse">
    <part name="parameters" element="tns:insertarCompetenciaResponse" />
  </message>
  <message name="obtenerCompetenciaPorId">
    <part name="parameters" element="tns:obtenerCompetenciaPorId" />
  </message>
  <message name="obtenerCompetenciaPorIdResponse">
    <part name="parameters" element="tns:obtenerCompetenciaPorIdResponse" />
  </message>
  <portType name="CompetenciaWS">
    <operation name="eliminarCompetencia">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/CompetenciaWS/eliminarCompetenciaRequest" message="tns:eliminarCompetencia" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/CompetenciaWS/eliminarCompetenciaResponse" message="tns:eliminarCompetenciaResponse" />
    </operation>
    <operation name="modificarCompetencia">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/CompetenciaWS/modificarCompetenciaRequest" message="tns:modificarCompetencia" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/CompetenciaWS/modificarCompetenciaResponse" message="tns:modificarCompetenciaResponse" />
    </operation>
    <operation name="listarTodosCompetencias">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/CompetenciaWS/listarTodosCompetenciasRequest" message="tns:listarTodosCompetencias" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/CompetenciaWS/listarTodosCompetenciasResponse" message="tns:listarTodosCompetenciasResponse" />
    </operation>
    <operation name="insertarCompetencia">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/CompetenciaWS/insertarCompetenciaRequest" message="tns:insertarCompetencia" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/CompetenciaWS/insertarCompetenciaResponse" message="tns:insertarCompetenciaResponse" />
    </operation>
    <operation name="obtenerCompetenciaPorId">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/CompetenciaWS/obtenerCompetenciaPorIdRequest" message="tns:obtenerCompetenciaPorId" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/CompetenciaWS/obtenerCompetenciaPorIdResponse" message="tns:obtenerCompetenciaPorIdResponse" />
    </operation>
  </portType>
  <binding name="CompetenciaWSPortBinding" type="tns:CompetenciaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarCompetencia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCompetencia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosCompetencias">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCompetencia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerCompetenciaPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CompetenciaWS">
    <port name="CompetenciaWSPort" binding="tns:CompetenciaWSPortBinding">
      <soap:address location="http://localhost:8080/SoftPixelPenguinsWS/CompetenciaWS" />
    </port>
  </service>
</definitions>