Frontend/SoftPixelPenguins/SoftPixelPenguinsWA/Connected Services/SoftPixelPenguinsWS/ProfesorWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.pixelpenguins.pucp.edu.pe" targetNamespace="http://services.pixelpenguins.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarProfesor" type="tns:eliminarProfesor" />
  <xs:element name="eliminarProfesorResponse" type="tns:eliminarProfesorResponse" />
  <xs:element name="existeprofesor" type="tns:existeprofesor" />
  <xs:element name="existeprofesorResponse" type="tns:existeprofesorResponse" />
  <xs:element name="insertarProfesor" type="tns:insertarProfesor" />
  <xs:element name="insertarProfesorResponse" type="tns:insertarProfesorResponse" />
  <xs:element name="listarTodosProfesores" type="tns:listarTodosProfesores" />
  <xs:element name="listarTodosProfesoresResponse" type="tns:listarTodosProfesoresResponse" />
  <xs:element name="modificarProfesor" type="tns:modificarProfesor" />
  <xs:element name="modificarProfesorResponse" type="tns:modificarProfesorResponse" />
  <xs:element name="obtenerProfesorPorId" type="tns:obtenerProfesorPorId" />
  <xs:element name="obtenerProfesorPorIdResponse" type="tns:obtenerProfesorPorIdResponse" />
  <xs:complexType name="eliminarProfesor">
    <xs:sequence>
      <xs:element minOccurs="0" name="profesor" type="tns:profesor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="profesor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element name="certificadoHistorialEducativo" type="xs:boolean" />
          <xs:element name="codigoProfesor" type="xs:int" />
          <xs:element minOccurs="0" name="especialidad" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombreCompleto" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="tns:rol" />
      <xs:element minOccurs="0" name="sexo" type="xs:string" />
      <xs:element minOccurs="0" name="username" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rol">
    <xs:sequence>
      <xs:element name="idRol" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarProfesorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosProfesores">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosProfesoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:profesor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarProfesor">
    <xs:sequence>
      <xs:element minOccurs="0" name="profesor" type="tns:profesor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarProfesorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="existeprofesor">
    <xs:sequence>
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="existeprofesorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarProfesor">
    <xs:sequence>
      <xs:element minOccurs="0" name="profesor" type="tns:profesor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarProfesorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerProfesorPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerProfesorPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:profesor" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>