Frontend/SoftPixelPenguins/SoftPixelPenguinsWA/Connected Services/SoftPixelPenguinsWS/RolWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.pixelpenguins.pucp.edu.pe" targetNamespace="http://services.pixelpenguins.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarRol" type="tns:eliminarRol" />
  <xs:element name="eliminarRolResponse" type="tns:eliminarRolResponse" />
  <xs:element name="insertarRol" type="tns:insertarRol" />
  <xs:element name="insertarRolResponse" type="tns:insertarRolResponse" />
  <xs:element name="listarTodosRoles" type="tns:listarTodosRoles" />
  <xs:element name="listarTodosRolesResponse" type="tns:listarTodosRolesResponse" />
  <xs:element name="modificarRol" type="tns:modificarRol" />
  <xs:element name="modificarRolResponse" type="tns:modificarRolResponse" />
  <xs:element name="obtenerRolPorId" type="tns:obtenerRolPorId" />
  <xs:element name="obtenerRolPorIdResponse" type="tns:obtenerRolPorIdResponse" />
  <xs:element name="rol_eliminar" type="tns:rol_eliminar" />
  <xs:element name="rol_eliminarResponse" type="tns:rol_eliminarResponse" />
  <xs:element name="rol_insertar" type="tns:rol_insertar" />
  <xs:element name="rol_insertarResponse" type="tns:rol_insertarResponse" />
  <xs:element name="rol_listarTodos" type="tns:rol_listarTodos" />
  <xs:element name="rol_listarTodosResponse" type="tns:rol_listarTodosResponse" />
  <xs:element name="rol_obtenerPorId" type="tns:rol_obtenerPorId" />
  <xs:element name="rol_obtenerPorIdResponse" type="tns:rol_obtenerPorIdResponse" />
  <xs:complexType name="eliminarRol">
    <xs:sequence>
      <xs:element minOccurs="0" name="rol" type="tns:rol" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rol">
    <xs:sequence>
      <xs:element name="idRol" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarRolResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rol_obtenerPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idRol" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rol_obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:rol" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rol_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rol_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosRoles">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosRolesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:rol" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rol_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idRol" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rol_eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarRol">
    <xs:sequence>
      <xs:element minOccurs="0" name="rol" type="tns:rol" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarRolResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rol_listarTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="rol_listarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:rol" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerRolPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idRol" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerRolPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:rol" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarRol">
    <xs:sequence>
      <xs:element minOccurs="0" name="rol" type="tns:rol" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarRolResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>