Frontend/SoftPixelPenguins/SoftPixelPenguinsWA/Connected Services/SoftPixelPenguinsWS/SeccionAcademicaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pixelpenguins.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SeccionAcademicaWS" targetNamespace="http://services.pixelpenguins.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftPixelPenguinsWS/SeccionAcademicaWS?xsd=1" namespace="http://services.pixelpenguins.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="obtenerSeccionAcademicaPorId">
    <part name="parameters" element="tns:obtenerSeccionAcademicaPorId" />
  </message>
  <message name="obtenerSeccionAcademicaPorIdResponse">
    <part name="parameters" element="tns:obtenerSeccionAcademicaPorIdResponse" />
  </message>
  <message name="listarTodosSeccionesAcademicas">
    <part name="parameters" element="tns:listarTodosSeccionesAcademicas" />
  </message>
  <message name="listarTodosSeccionesAcademicasResponse">
    <part name="parameters" element="tns:listarTodosSeccionesAcademicasResponse" />
  </message>
  <message name="insertarSeccionAcademica">
    <part name="parameters" element="tns:insertarSeccionAcademica" />
  </message>
  <message name="insertarSeccionAcademicaResponse">
    <part name="parameters" element="tns:insertarSeccionAcademicaResponse" />
  </message>
  <message name="eliminarSeccionAcademica">
    <part name="parameters" element="tns:eliminarSeccionAcademica" />
  </message>
  <message name="eliminarSeccionAcademicaResponse">
    <part name="parameters" element="tns:eliminarSeccionAcademicaResponse" />
  </message>
  <message name="modificarSeccionAcademica">
    <part name="parameters" element="tns:modificarSeccionAcademica" />
  </message>
  <message name="modificarSeccionAcademicaResponse">
    <part name="parameters" element="tns:modificarSeccionAcademicaResponse" />
  </message>
  <portType name="SeccionAcademicaWS">
    <operation name="obtenerSeccionAcademicaPorId">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/SeccionAcademicaWS/obtenerSeccionAcademicaPorIdRequest" message="tns:obtenerSeccionAcademicaPorId" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/SeccionAcademicaWS/obtenerSeccionAcademicaPorIdResponse" message="tns:obtenerSeccionAcademicaPorIdResponse" />
    </operation>
    <operation name="listarTodosSeccionesAcademicas">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/SeccionAcademicaWS/listarTodosSeccionesAcademicasRequest" message="tns:listarTodosSeccionesAcademicas" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/SeccionAcademicaWS/listarTodosSeccionesAcademicasResponse" message="tns:listarTodosSeccionesAcademicasResponse" />
    </operation>
    <operation name="insertarSeccionAcademica">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/SeccionAcademicaWS/insertarSeccionAcademicaRequest" message="tns:insertarSeccionAcademica" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/SeccionAcademicaWS/insertarSeccionAcademicaResponse" message="tns:insertarSeccionAcademicaResponse" />
    </operation>
    <operation name="eliminarSeccionAcademica">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/SeccionAcademicaWS/eliminarSeccionAcademicaRequest" message="tns:eliminarSeccionAcademica" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/SeccionAcademicaWS/eliminarSeccionAcademicaResponse" message="tns:eliminarSeccionAcademicaResponse" />
    </operation>
    <operation name="modificarSeccionAcademica">
      <input wsam:Action="http://services.pixelpenguins.pucp.edu.pe/SeccionAcademicaWS/modificarSeccionAcademicaRequest" message="tns:modificarSeccionAcademica" />
      <output wsam:Action="http://services.pixelpenguins.pucp.edu.pe/SeccionAcademicaWS/modificarSeccionAcademicaResponse" message="tns:modificarSeccionAcademicaResponse" />
    </operation>
  </portType>
  <binding name="SeccionAcademicaWSPortBinding" type="tns:SeccionAcademicaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerSeccionAcademicaPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosSeccionesAcademicas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarSeccionAcademica">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarSeccionAcademica">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarSeccionAcademica">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="SeccionAcademicaWS">
    <port name="SeccionAcademicaWSPort" binding="tns:SeccionAcademicaWSPortBinding">
      <soap:address location="http://localhost:8080/SoftPixelPenguinsWS/SeccionAcademicaWS" />
    </port>
  </service>
</definitions>